name: Publish Assets

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: write  # for Git to git push

    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3

      - uses: actions/setup-java@5ffc13f4174014e2d4d4572b3d74c3fa61aeb2c2 # v3.11.0
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'maven'

      - name: Build app
        run: ./mvnw --batch-mode clean deploy

      - name: setup git config
        run: |
          git config user.name "GitHub Actions Bot"
          git config user.email "<>"

      - name: Publish maven assets
        run: |
          ls
          rsync -r ./*/target/mvn-repo ./target/mvn-repo /tmp/
          git checkout --orphan maven || git checkout maven
          git reset .
          rm -r mvn-repo || true
          cp -r /tmp/mvn-repo ./
          ls
          git add mvn-repo
          git commit -a -m "add artifacts"
          git push origin maven
